@model TaskList

<!--Make a form for movie collection that posts to a sqllite database with info for
    movies director, year,rating, edited, length, format, and notes.
-->
<h2>Add a New Task to the Time Management Matrix</h2>
<form method="post">

    <input type="hidden" asp-for="TaskId" />
    <br /><br />

    <label asp-for="CategoryId">Category:</label>
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br>
    <br>
    <label asp-for="Task">Task:</label><br>
    <input asp-for="Task" name="task"><br><br>

    <label asp-for="DueDate">DueDate:</label><br>
    <input asp-for="DueDate"><br><br>

    <label asp-for="Quadrant">Quadrant:</label><br>
    <input asp-for="Quadrant" name="Quandrant"><br><br>

    <label asp-for="Completed">Completed:</label><br>
    <input type="radio"  asp-for="Completed" value="True">
    <label for="Completed">True</label>
    <input type="radio" asp-for="Completed" value="False">
    <label asp-for="Completed">False</label><br><br>

    <button type="submit">Submit</button>

    <div asp-validation-summary="All"></div>
</form>

